.bg-image-index {
    background-image: url('../img/IMG_0534.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.bg-image-adm {
    background-image: url('../img/Perros-y-gatos-juntos.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.bg-image-servicios{
    background-image: url('../img/jpeg_met_logo.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
